html,body {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  /*background-image: radial-gradient(#c0dd36,#4bc720,#22b999,#237fc9);*/
position: absolute;
text-align: center;
}

*{
  box-sizing: border-box;
}

h3 {
  font-size: 25px;
  margin-top: 50px;
  color: #330404;
}

.input-class {
  width: 90%;
  margin-left: 5%;
  margin-top: 60px;
}
