body {
    margin: 10px;
    background-color: #ADD8E6;
    color: #000000;
    /*text-align: left;*/
}




h1 {
    font-size: 30px;
    color: red;
}

.firstTiao {
    margin-top: 10px;
    background-color: #C0C0C0;
    width: 100%;
    height: 88px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #eeeeee;
}



section {
    /*height: 300px;*/
  width: 100%;
  height: auto;
  margin-top: 10px;
  /*margin: 10px 10px;*/
}

.touxiang {
  width: 77px;
  height: 77px;
  border-style: solid;
  border-width: 2px;
  border-color: #e41268;
    border-radius: 50%;
}


/*<!-- 个人简介 -->*/


.introduceBriefly {

    /*background-color: #eeeeee;*/

    /*height: 200px;*/
    font-size: 20px;
    width: 320px;
    margin: 20px;
    /*margin-top: 20px;*/
    border-style: solid;
    border-width: 5px;
    border-color: #eeeeee;


}


/*<!-- 学校专业 -->*/
/*.school {
  border-style: solid;
  border-width: 5px;
  border-color: #eeeeee;

}*/

h2 {
  color: #0000FF;
}
h3 {
  color: #6495ED;
}
div p{
  /*background-color: #CD853F;*/
  text-indent: 2em;
  font-size: 15px;
}

.shandongImg {

    border-style: none;
}
/*<!-- 家乡 -->*/

.hometown {
    /*background-color: #2E8B57;*/
    border-style: solid;
    border-width: 5px;
    border-color: #eeeeee;
}


/*<!-- 个人技能 -->*/

.skill {
    background-color: #DAA520;
    border-style: solid;
    border-width: 5px;
    border-color: #eeeeee;
}

img {
  width: 48%;
  /*height: 100px;*/
}

.hometownImg1{
  width: 100%;
}
nav {
  text-align: center;
}


nav a {
  display: inline-block;
  /*background-color: #ce5d1b;*/
  height: 30px;
  line-height: 30px;
  width: 88px;
  font-size: 15px;
}
