html, body {
    height: 100%;
}

body {
    text-align: center;
    background-image: url('../images/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.input-group {
    width: 100%;
    display: flex;
}

.input-group span {
    color: #550909;
    font-size: 20px;
    width: 10%;
    margin-left: 17%;
    margin-top: 9px;
}

.input-group input {
    margin-left: 5px;
    width: 36%;
    border: solid 1px #520b0b;
    line-height: 25px;
}

.aaa {
    width: 15%;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    background-color: #520b0b;
    /*float: right;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.aaa a {
    top: 15px;
    color: #eee;
    /*width: 30%;*/
    font-size: 20px;
    margin-left: 5%;
    list-style: none;
}
.container{
  margin-top: 8px;
}
.table tr th {
    text-align: center;
}

.table tr:nth-child(5) {
    background-color: #ac1515;
    color: #eee;
}
